/* Contents text font "Raleway" */
@font-face {
    font-family: "Raleway";
    src: url("../Fonts/Raleway-VariableFont_wght.ttf");
}
body{
    display: flex;
    justify-content: center;
}
body > div{
    background: #782221 ;
    display: flex;
    flex-direction: column;
    width: 1160px  ;
    height: 1800px;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 25%;
}
.Profile--pic{
    width: 200px;
    height: 200px;
    border: 1px solid #dbc2a4;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 30px #dbc2a4;
}
.contact--info{
    background: #2c1d27;
    width: 100%;
    height: 20%;
}
main{
    display: flex;
    width: 100%;
    height: 70%;
}
.right--container{
    background: white;
    width: 70%;
    height: 100%;
    align-self: flex-end;
    border-right:2px solid black;
    padding-left: 30px;
    padding-right: 15px;
}
.left--container{
    background: #782221;
    width: 30%;
    height: 100%;
    align-self: flex-end;
    padding-right: 30px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #782221;
    gap: 10px;
    margin-top: auto;
    width: 100%;
    height: 7%;
}
.professionnel--media{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap:20px ;
}
.professionnel--media__icon{
    width: 60px;
    height: auto;
}
address{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}



/* Text styling */
header > h1{
    font-family: "Lato";
    color: white;
    font-weight: 400;
    font-size: 1.5em;
}
header > h2{
    font-family: "Lato";
    color: white;
    font-weight: 400;
    font-size:1.2em;
}
address > a > p{
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: white;
}
address > a{
    text-decoration: none;
}
.email{
    padding-right: 70px;
}
.main--title{
    font-family: "Lato" ;
    font-size: 1.6em;
    background-color:#dbc2a4 ;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.left--container > section> ul> li{
    font-family: "Raleway" , sans-serif;
    font-size: 1em;
    color: white;
    margin-bottom: 5px;
}
.right--container > section> h2{
    padding-left: 10px;
    border-left:10px solid #782221;
}
h3{
    font-family: "Lato";
    font-size: 1.4em;
}
time{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1em;  
}
.right--container > section> ul> li{
    font-family: "Raleway" , sans-serif;
    font-weight: 600;
    font-size: 1em;  
}
p{
    font-family: "Raleway" , sans-serif;
    font-weight: 600;
    font-size: 1em;  
}
.left--container__about >p{
    font-family: "Raleway" , sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: white;
    margin-left: 20px;
    text-indent: 20px;
    word-spacing: 5px;
}
footer > time{
    font-family: "Raleway" , sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: white;
}
/* Dynamism */
h3:hover, .right--container > section > ul > li:hover{
    background-color: rgba(0, 0, 0, 0.062);
    border-right: 6px solid #782221;
}
.Profile--pic:hover{
    cursor: zoom-in;
}
.professionnel--media__icon:hover{
    opacity: 60%;
}
address > a > p:hover{
    text-decoration: underline;
}
